﻿<div>
    <div class="modal-header">
        <h2><b class="glyphicon glyphicon-user"></b> {{edited.LastName}}, {{edited.FirstName}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" name="FirstName" class="form-control"
                   ng-model="edited.FirstName"/>

            <label for="LastName">Last Name</label>
            <input type="text" name="Last Name" class="form-control"
                   ng-model="edited.LastName" />
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default"
           ng-click="close()">
            Done
        </a>
    </div>
</div>