﻿<div>
    <div class="modal-header">
        <h2><b class="glyphicon glyphicon-user"></b> {{employee.LastName}}, {{employee.FirstName}}</h2>
    </div>
    <div class="modal-body">
        {{employee.FirstName}} {{employee.LastName}} ({{employee.Id}})<br />
        <a ng-href="mailto:{{employee.Email | lowercase}}@HR.com">{{employee.Email | lowercase}}@HR.com</a>
        
    </div>
    <div class="modal-footer">
        <a class="btn btn-default pull-left"
           ng-click="edit(employee)">
            <i class="glyphicon glyphicon-pencil"></i> Edit
        </a>
        <a class="btn btn-default pull-left"
           ng-click="close()">
            <i class="glyphicon glyphicon-remove"></i> Delete
        </a>

        <a class="btn btn-default"
           ng-click="close()">
            <i class="glyphicon glyphicon-share"></i> Share
        </a>
        <a class="btn btn-default"
           ng-click="close()">
            <i class="glyphicon glyphicon-ok"></i> Done
        </a>
    </div>
</div>