﻿<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-group form-group-lg">
                <input type="text" class="form-control" />
            </form>
            
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item mouse-finger" ng-repeat="department in departments">
            <a class="mouse-finger" ng-click="expand(department)"><i class="glyphicon" ng-class="{'glyphicon-folder-close':!department.expanded,'glyphicon-folder-open':department.expanded}"></i> {{department.Name}}</a>
            <div class="list-group" ng-if="department.expanded">
                <div class="list-group-item" ng-repeat="employee in department.employees">
                    <a mouse-finger ng-click="preview(employee)"><b class="glyphicon glyphicon-user"></b> {{employee.FirstName}} {{employee.LastName}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-loading" ng-if="loading" activated="loading"></div>
</div>