﻿.hr-loading {
    position:absolute;
    top:0px;left:0px;
    height:100%;
    width:100%;
    text-align:center;
}
.hr-loading img {
    position:absolute;
    top:49%;
}

.HR {
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    padding:4px;
    background-color:red;
    color:white;
    margin-left:15px;
}

.Sample {
    background-color:white;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    padding:4px;
}

.ui-view {
    position:fixed;
    top:65px;
    bottom:48px;
    left:0px;
    right:0px;
    overflow-y:auto;
}

.Powered-By {
    position:fixed;
    bottom:3px;
    right:3px;
}

.mouse-finger {
    cursor:pointer;
}

.navigate {
    position:fixed;
    width:100%;
    top:0px;
    height:65px;
    background-color:#eee;
} .navigate h1 { margin-top:15px;}